.container {
    background: linear-gradient(60deg, rgb(148, 207, 255), rgb(62, 123, 255), rgb(5, 1, 218));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;   
    height: 100vh;
}

.login-block {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 50%;
    border: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(75, 75, 75);
    min-width: 400px;
    min-height: 400px;

}

#create-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5em;
}

#login-button {
    display: block;
    margin: 1em auto;
    height: 2em;
    font-size: 1rem;
    background-color: white;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    min-width: 150px;
}

.text-field {
    display: flex;
    align-items: center;
    min-width: 200px;
    justify-content: center;
    align-content: space-between;
}

.text-field::placeholder {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#forgot {
    display: flex;
    justify-content: center;
    height: 45px;
}

#center {
    height: 0.5em;
}

#create-title {
    display: flex;
    font-size: x-large;
}

.create-acc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

#create-button {
    display: flex;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    background-color: white;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    min-width: 125px;
}