body {
    background: linear-gradient(60deg, rgb(148, 207, 255), rgb(62, 123, 255), rgb(5, 1, 218));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.login-block {
    background-color:white;
    margin: 50px 15px 15px 25px;
    position: absolute;
    padding: 15px; 
    height: 275px;
    border: 0;
    border-radius: 10px;
    width: 350px;
    box-shadow: 5px, 10px,black;
}

#sign-in {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 45px;
    display: flex;

}